<p id="notice"><%= notice %></p>

<div class="mx-auto d-flex flex-column align-items-center page-container bg-purple">

    <h1>Posts</h1>

    <div class="d-flex flex-column py-3">
      <% @posts.each do |post| %>
        <div class="d-flex flex-column py-5">
          <div class="d-flex flex-column">
            <% if user_signed_in? %>
              <p><%= post.user.name %></p>
            <% end %>
            <p><%= post.title %></p>
            <p><%= post.body %></p>
          </div>
          <div class="d-flex justify-content-evenly">
            <%= link_to 'Show', post, class:"link" %>
            <%= link_to 'Edit', edit_post_path(post), class:"link" %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class:"link" %>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to 'New Post', new_post_path, class:"link" %>
</div>