<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/fd0eaf46fd.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="d-flex justify-content-between bg-purple text-light">
      <div class="d-flex">
        <i class="fas fa-lock-open text-light fa-2x m-3"></i>
        <i class="fas fa-lock text-light fa-2x m-3"></i>
        <%= link_to 'The Secret Social Media', root_path, class:"link p-2 m-1 fs-4" %>
      </div>
      <div class="m-2 mt-3">
        <%= check_user %>  
      </div>
    </nav>
    <%= yield %>
    <footer class="d-flex justify-content-around bg-purple text-light">
      <div class="mb-3">
        <p class="text-center fw-bolder fs-4 my-3">João Montanholi</p>
        <a class="link px-2" href="https://github.com/jmontanholi"><i class="fab fa-github-square"></i> Github</a>
        <a class="link px-2" href="https://twitter.com/MontanholiNunes"><i class="fab fa-twitter-square"></i> Twitter</a>
        <a class="link px-2" href="https://www.linkedin.com/in/joaovitormontanholi/"><i class="fab fa-linkedin"></i> Linkedin</a>
      </div>
      <i class="fas fa-lock text-light fa-4x m-3"></i>
      <div class="mb-3">
        <p class="text-center fw-bolder fs-4 my-3">Arthur Borges</p>
        <a class="link px-2" href="https://github.com/arthurborgesdev"><i class="fab fa-github-square"></i> Github</a>
        <a class="link px-2" href="https://twitter.com/arthurmoises"><i class="fab fa-twitter-square"></i> Twitter</a>
        <a class="link px-2" href="https://linkedin.com/in/arthurmoises"><i class="fab fa-linkedin"></i> Linkedin</a>
      </div>
    </footer>
  </body>
</html>
