<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <p>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"text-danger" %>
      </p>
    <% else %>
      <p>
        <%= link_to "Sign In", new_user_session_path, class:"text-primary" %>
      </p>
      <p>
        <%= link_to "Sign Up", new_user_registration_path, class:"text-primary" %>
      </p>
    <% end %>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    
  </body>
</html>
